<p id="notice"><%= notice %></p>

<p>
  <strong>表紙:</strong>
  <img src="<%= @book.cover_url %>">
</p>

<p>
  <strong>タイトル:</strong>
  <%= @book.book %>
</p>

<p>
  <strong>著者:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>価格:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>出版社:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>発売日:</strong>
  <%= @book.release_date %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
